main {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 40px 40px 10px 40px;
    color: inherit;
    background-color: #31353a;
    border: 4px solid #000000;
}

main #flight-types {
    display: flex;
    justify-content: space-evenly;
}

main #flight-types > label {
    cursor: pointer;
}

main #flight-types input:checked + label {
    color: #639bd3;
}

main form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
}

main form div {
    display: flex;
    justify-content: space-evenly;
}

main form #passengers select {
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 5px;
}

main form #places input {
    border: none;
    background-color: #d9d9d9;
    color: #000000;
    font-size: inherit;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px;
    margin: 20px;
    width: 40%;
}

main form #dates {
    display: flex;
    justify-content: space-evenly;
    font-size: inherit;
}

main form #dates .date-range {
    display: flex;
    align-items: center;
    width: 45%;
}

main form #dates .date-range input {
    cursor: pointer;
}

main form button[type='submit'] {
    color: inherit;
    border: none;
    width: max-content;
    background-color: transparent;
    font-size: 30px;
    margin-top: 60px;
    align-self: center;
    cursor: pointer;
}

main form button[type='submit']:hover {
    color: #639bd3;
    transform: scale(1.05);
}
