<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <script src='index_script.js'></script>
        <link rel='stylesheet' href='index_style.css' />
        <title>Travelto</title>
    </head>
    <body>
        <header>
            <a href='/'><h1>Travelto</h1></a>
        </header>
        <form action='search' method='get'>
            <div id='top-inputs'>
                <div>
                    <input
                        type='radio'
                        name='flight-type'
                        id='one-way'
                        onchange='hide_return_range()'
                        value=''
                        form=''
                        checked
                        hidden
                    />
                    <label for='one-way'>One-way</label>
                    <input
                        type='radio'
                        name='flight-type'
                        id='return'
                        onchange='show_return_range()'
                        value=''
                        form=''
                        hidden
                    />
                    <label for='return'>Return</label>
                </div>
                <div>
                    <select name='adults' id='adults'>
                        <option value='0' label='No adults'>0</option>
                        <option value='1' label='1 adult' selected>1</option>
                        <option value='2' label='2 adults'>2</option>
                        <option value='3' label='3 adults'>3</option>
                        <option value='4' label='4 adults'>4</option>
                        <option value='5' label='5 adults'>5</option>
                    </select>
                    <select name='children' id='children'>
                        <option
                            value='0'
                            label='No children'
                            selected
                        >0</option>
                        <option value='1' label='1 child'>1</option>
                        <option value='2' label='2 children'>2</option>
                        <option value='3' label='3 children'>3</option>
                        <option value='4' label='4 children'>4</option>
                        <option value='5' label='5 children'>5</option>
                    </select>
                    <select name='infants' id='infants'>
                        <option value='0' label='No infants' selected>0</option>
                        <option value='1' label='1 infant'>1</option>
                        <option value='2' label='2 infants'>2</option>
                        <option value='3' label='3 infants'>3</option>
                        <option value='4' label='4 infants'>4</option>
                        <option value='5' label='5 infants'>5</option>
                    </select>
                </div>
            </div>
            <div id='middle-inputs'>
                <input
                    type='text'
                    name='from'
                    id='from'
                    placeholder='From'
                    required
                />
                <input
                    type='text'
                    name='to'
                    id='to'
                    placeholder='To'
                    required
                />
            </div>
            <div id='bottom-inputs'>
                <div id='depart-range'>
                    <label>Depart between</label>
                    <input
                        type='date'
                        name='departure_from'
                        id='departure_from'
                        required
                    />
                    <label>and</label>
                    <input type='date' name='departure_to' id='departure_to' />
                </div>
                <div id='return-range' hidden='true'>
                    <label>Return between</label>
                    <input type='date' name='return_from' id='return_from' />
                    <label>and</label>
                    <input type='date' name='return_to' id='return_to' />
                </div>
            </div>
            <button type='submit'>🔎</button>
        </form>
        <footer>
            <a href='https://github.com/jonassterud/travelto'>Source code</a>
        </footer>
    </body>
</html>