body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #0d1117;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
form {
    color: #c9d1d9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 30%;
    padding: 40px;
    background-color: #31353a;
    border: 4px solid #000000;
}

form input {
    background-color: #d9d9d9;
    border: none;
}

/* Top inputs */

form > div#top-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 30%;
    margin-bottom: 30px;
}

form > div#top-inputs > div {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

form > div#top-inputs input[type='radio'] + label {
    cursor: pointer;
}

form > div#top-inputs input[type='radio']:checked + label {
    color: #639bd3;
}

form > div#top-inputs select {
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 5px;
}

/* Middle inputs */

form > div#middle-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

form > div#middle-inputs input {
    width: 45%;
    font-size: 18px;
    padding: 5px;
}

/* Bottom inputs */

form > div#bottom-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

form > div#bottom-inputs label {
    font-size: 14px;
}

/* Submit button */

form button[type='submit'] {
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    bottom: 25%;
    border: none;
    background-color: transparent;
}

form button[type='submit']:hover {
    transform: scale(1.1);
}

/* Footer */

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: left;
    font-size: 12px;
}
