div#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 10px 20px 10px 20px;
    margin-bottom: 5px;
    background-color: #31353a;
    border: 4px solid #000000;
}

.result .result-left {
    width: 25%;
}

.result .result-middle {
    width: 55%;
}

.result .result-right {
    background-color: #00ff37;
    border: 4px solid #000000;
    cursor: pointer;
    text-align: center;
    width: 15%;
}

.result .result-right p {
    color: #000000;
}
