body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #0d1117;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
form {
    color: #c9d1d9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

/* Footer */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: left;
    font-size: 12px;
}

/* Results */

div#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 10px 20px 10px 20px;
    margin-bottom: 5px;
    background-color: #31353a;
    border: 4px solid #000000;
}

.result #price {
    background-color: #00ff37;
    border: 4px solid #000000;
    cursor: pointer;
    text-align: center;
}

.result #price p {
    color: #000000;
}
